<div class="contenedor">
    <div class="formulario-izquierda">
        <h4>Datos Personales</h4>
        <form [formGroup]="formulario">
            <label>Nombre</label>
            <input formControlName="nombre" type="text">
            <label>Apellido Paterno</label>
            <input formControlName="apellidoPaterno" type="text">
            <label>Apellido Materno</label>
            <input formControlName="apellidoMaterno" type="text">
            <h4>Fecha de Nacimiento</h4>
            <div class="fecha">
                <label>Dia</label><input formControlName="dia" type="number">
                <label>Mes</label><input formControlName="mes" type="number">
                <label>Año</label><input formControlName="year" type="number">
            </div>
            <h4>Sexo</h4>
            <div class="sexo">
                <label><input formControlName="masculino" type="checkbox"> Masculino</label>
                <label><input formControlName="femenino" type="checkbox"> Femenino</label>
            </div>
            <button (click)="calcularZodiacChino()">Imprimir</button>
        </form>
    </div>
    <div class="resultado-derecha">
        <h4>{{name}}</h4>
        <h4>{{edad}}</h4>
        <h4>{{signoChino}}</h4>
        <div class="imagen-signo">
            <img [src]="signoIMG" [title]="signoChino" [style.width.px]="imageWidth">
        </div>
    </div>
</div>
